@import url("http://fonts.cdnfonts.com/css/ubicada");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");
// $fa-font-path: "./webfonts";
//@import "./fontawesome/scss/fontawesome.scss";
// @import "./fontawesome/scss/solid.scss";
// @import "./fontawesome/scss/brands.scss";
// @import "./fontawesome/scss/sharp-solid.scss";
:root {
    --font-family-sans-serif: "Open Sans", sans-serif;
    --font-roboto-serif: "Roboto Slab", serif;
    --font-roboto-monospace: "Roboto Mono", monospace;
    --font-varela: "Varela Round", sans-serif;
    --font-aqua: "Aqua Grotesque", serif;
    --font-ubicada: "Ubicada", sans-serif;
}