@import url("http://fonts.cdnfonts.com/css/ubicada");
html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-varela);
}

body {
  font-size: 1.5rem;
  font-family: var(--font-family-sans-serif);
  background-color: var(--white-color);
  color: var(--white-color);
  line-height: 1;
  letter-spacing: 0.05rem;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: var(--white-color);
  border: none;
  cursor: pointer;
}

p {
  font-family: var(--font-roboto-serif);
  font-size: 1.25rem;
  line-height: 1.2;
  text-align: left;
}

h1,
h2,
h3,
span {
  font-family: var(--font-ubicada);
  font-weight: 700;
  font-size: 2rem;
  font-kerning: none;
}

button {
  width: 20rem;
  height: 3rem;
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--button-bg);
  color: var(--gray-color);
  font-size: 1.2rem;
  font-weight: 800;
  border: none;
  border-radius: var(--border-curved);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
button:hover {
  background-color: var(--button-bg-hover);
}

:root {
  --bg-color: hsl(169, 20%, 37%);
  --white-color: hsl(0, 0%, 100%);
  --gray-color: hsl(0, 0%, 75%);
  --black-color: hsl(0, 0%, 0%);
  --bg-2: hsl(169, 14%, 47%);
  --button-bg: hsl(26, 98%, 47%);
  --button-bg-hover: hsl(158, 93%, 59%);
  --dark-text: hsl(228, 34%, 14%);
  --border-test1: hsl(180, 100%, 50%);
  --border-test2: hsl(323, 100%, 50%);
  --h1-color: hsla(168, 14%, 47%, 0.345);
  --box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  --border-color: 1px solid rgba(255, 255, 255, 0.5);
  --box-bgcolor: hsla(169, 20%, 37%, 0.163);
  --border-curved: 10px;
}

:root {
  --font-family-sans-serif: "Open Sans", sans-serif;
  --font-roboto-serif: "Roboto Slab", serif;
  --font-roboto-monospace: "Roboto Mono", monospace;
  --font-varela: "Varela Round", sans-serif;
  --font-aqua: "Aqua Grotesque", serif;
  --font-ubicada: "Ubicada", sans-serif;
}

section {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: auto;
  background: var(--white-color);
  display: flex;
}

li a:hover {
  color: var(--button-bg-hover);
}

.btn:hover {
  background-color: var(--button-bg-hover);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.left-wrapper {
  width: 50vw;
  height: 70vh;
  background-color: var(--bg-2);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 0 1.2rem;
}
.left-wrapper .left-panel {
  width: 100%;
  height: 100%;
}
.left-wrapper .left-panel h1 {
  font-size: 4rem;
  font-weight: 800;
  margin: 2rem 0;
}
.left-wrapper .left-panel h2 {
  font-size: 2rem;
  font-weight: 800;
  margin: 2rem 0;
  color: var(--dark-text);
}
.left-wrapper .left-panel h2 span {
  color: var(--white-color);
}
.left-wrapper .left-panel .btn {
  margin-bottom: 1rem;
}
.left-wrapper .left-panel .p-wrapper {
  width: 50%;
}
.left-wrapper .left-panel .p-wrapper p {
  font-size: 1.25rem;
  line-height: 1.2;
  text-align: left;
  color: var(--black-color);
}

.right-panel {
  width: 50vw;
  height: 70vh;
  background: var(--gray-color);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  box-sizing: border-box;
}
.right-panel .container {
  position: relative;
  width: 50%;
  height: 50%;
}
.right-panel .container img {
  display: block;
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  transition: filter 0.5s;
  cursor: pointer;
}
.right-panel .container .overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  width: 0;
  height: 100%;
  background: var(--bg-color);
  transition: width 0.5s ease;
}
.right-panel .container .overlay:hover {
  width: 100%;
  left: 0;
  filter: grayscale(0%);
}
.right-panel .container .overlay .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: var(--white-color);
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

footer {
  position: relative;
  padding: 35px 45px 35px 45px !important;
  width: 100vw;
  height: auto;
  background-color: var(--bg-color);
}
footer .form-container {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .form-container h2 {
  font-size: 2rem;
  font-weight: 800;
  margin: 2rem 0;
  color: var(--black-color);
}
footer .form-container input {
  width: 20rem;
  height: 3rem;
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
}
footer .form-container textarea {
  width: 20rem;
  height: 10rem;
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
}

.hero-wrapper {
  width: 100vw;
  height: 100vh;
  background: url("/assets/servers.jpg");
  background-size: cover;
  background-position: center;
  object-fit: cover;
  z-index: -1;
}
.hero-wrapper .hero {
  width: 100%;
  height: 50%;
}
.hero-wrapper .hero h1 {
  padding: 2.5rem;
  color: var(--white-color);
  font-size: 8rem;
  font-weight: 800;
  margin: 12rem 0;
  animation: slideInLeft 1s ease-in-out;
  animation-delay: 0.5s;
  animation-duration: 2s;
  z-index: 2;
}
.hero-wrapper .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  z-index: 1;
  animation: slideInRight 1s ease-in-out;
  animation-delay: 0.5s;
  animation-duration: 2s;
}
.hero-wrapper .container .card {
  position: relative;
  width: 41rem;
  height: 19.6rem;
  margin: 1rem 5.5rem;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: hsla(169deg, 20%, 37%, 0.15);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}
.hero-wrapper .container .card .content {
  padding: 2rem;
  text-align: center;
  transition: 0.5s;
}
.hero-wrapper .container .card .content h2 {
  position: absolute;
  top: 12px;
  right: 30px;
  font-size: 12rem;
  color: var(--h1-color);
  letter-spacing: 1.5rem;
  pointer-events: none;
}
.hero-wrapper .container .card .content h3 {
  font-size: 3rem;
  color: var(--white-color);
  margin-bottom: 1.5rem;
  text-align: left;
  z-index: 1;
}
.hero-wrapper .container .card .content p {
  font-size: 1.2rem;
  color: var(--white-color);
  font-weight: 300;
  line-height: 1.2;
  text-align: left;
  letter-spacing: 0.25rem;
}
.hero-wrapper .container .card .content a {
  position: relative;
  display: inline-block;
  padding: 1.5rem 2rem;
  margin-top: 1.5rem;
  background: var(--white-color);
  color: var(--black-color);
  font-weight: 500;
  cursor: pointer;
  border-radius: 0.25rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin: 0;
  width: 100%;
  background-color: var(--bg-color);
  position: fixed;
  transition: all 0.3s ease-in-out;
}
header .logo {
  width: 30%;
  height: auto;
}
header nav {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10rem;
  height: 100%;
}
header nav li {
  list-style: none;
  padding: 0 3rem;
  justify-content: end;
}
header nav li a {
  color: var(--white-color);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 800;
  line-height: 1.2;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
header nav li a:hover {
  color: var(--button-bg-hover);
}

.services-wrapper {
  width: 100vw;
  height: 50vh;
  background-color: var(--white-color);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}
.services-wrapper h1 {
  font-size: 10rem;
  color: var(--h1-color);
  font-weight: 800;
  text-align: center;
  margin: 5rem 1rem;
}
.services-wrapper .services-card {
  width: 20rem;
  height: 20rem;
  padding: 1rem;
  box-shadow: 20px 20px 75px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: hsla(169deg, 20%, 37%, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  box-sizing: border-box;
}
.services-wrapper .services-card .content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services-wrapper .services-card .content h3 {
  padding: 0.5rem;
  font-size: 2.5vw;
  color: var(--white-color);
  margin-bottom: 1.5rem;
  letter-spacing: 0.25rem;
}
.services-wrapper .services-card .content p {
  font-size: 1rem;
  color: var(--black-color);
  font-weight: 300;
  line-height: 1.2;
  text-align: left;
}

.testimonials-wrapper {
  width: 100%;
  height: 90vh;
  background-color: var(--gray-color);
  position: relative;
}
.testimonials-wrapper h1 {
  font-size: 10rem;
  color: var(--h1-color);
  font-weight: 800;
  text-align: center;
  margin: 5rem 1rem;
}
.testimonials-wrapper .container {
  width: 50%;
  height: 25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
}
.testimonials-wrapper .container .indicator {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}
.testimonials-wrapper .container .indicator .btn {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 4px;
  border-radius: 15px;
  background-color: #fff;
  transition: 0.5s;
  cursor: pointer;
}
.testimonials-wrapper .container .indicator .active {
  width: 45px;
}
.testimonials-wrapper .container .testimonial {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.testimonials-wrapper .container .testimonial .slide-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  width: 250vw;
  transition: 0.5s;
}
.testimonials-wrapper .container .testimonial .slide-row .slide-col {
  width: 100%;
  height: 25rem;
  position: relative;
}
.testimonials-wrapper .container .testimonial .slide-row .slide-col .user-text {
  width: 31rem;
  height: 16rem;
  margin-left: 40px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: 1rem;
  color: #d3d4d6;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background-color: hsla(169deg, 20%, 37%, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.5rem;
  box-sizing: border-box;
  z-index: 2;
}
.testimonials-wrapper .container .testimonial .slide-row .slide-col .user-text p {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1;
  text-align: left;
}
.testimonials-wrapper .container .testimonial .slide-row .slide-col .user-text h3 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
  margin: 1rem 0 0.2rem;
  text-align: left;
}
.testimonials-wrapper .container .testimonial .slide-row .slide-col .user-img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 1.5rem;
}
.testimonials-wrapper .container .testimonial .slide-row .slide-col .user-img img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.team-wrapper {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #f5f5f5;
}
.team-wrapper h1 {
  font-size: 10rem;
  color: var(--h1-color);
  font-weight: 800;
  text-align: center;
  margin: 5rem 1rem;
}
.team-wrapper .profile-wrapper {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  background-color: var(--bg-color);
}
.team-wrapper .profile-wrapper .profile-card {
  position: relative;
  font-family: var(--font-roboto-monospace);
  width: 220px;
  height: 220px;
  background-color: #fff;
  padding: 30px;
  border-radius: 50%;
  box-shadow: 0 0 22px rgba(51, 51, 51, 0.4);
  transition: 0.6s;
  margin: 0 25px;
}
.team-wrapper .profile-wrapper .profile-card:hover {
  border-radius: 10px;
  height: 260px;
}
.team-wrapper .profile-wrapper .profile-card .img {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.6s;
  z-index: 99;
}
.team-wrapper .profile-wrapper .profile-card .img:hover {
  transform: translateY(-60px);
}
.team-wrapper .profile-wrapper .profile-card .img img {
  width: 100%;
  border-radius: 50% 50%;
  box-shadow: 0 0 22px rgba(51, 51, 51, 0.4);
  transition: 0.6s;
}
.team-wrapper .profile-wrapper .profile-card .img img:hover {
  border-radius: 10px;
}
.team-wrapper .profile-wrapper .profile-card .caption {
  text-align: center;
  transform: translateY(-80px);
  opacity: 0;
  transition: 0.6s;
}
.team-wrapper .profile-wrapper .profile-card .caption:hover {
  opacity: 1;
}
.team-wrapper .profile-wrapper .profile-card .caption h3 {
  font-size: 21px;
  font-family: var(--font-roboto-serif);
}
.team-wrapper .profile-wrapper .profile-card .caption p {
  font-size: 15px;
  color: var(--h1-color);
  font-family: var(--font-roboto-serif);
  margin: 2px 0 9px 0;
}

.client-wrapper {
  width: 100%;
  background-color: var(--white-color);
}
.client-wrapper .client-container {
  width: 100%;
  height: 100%;
  align-items: center;
}
.client-wrapper .client-container .client-slider {
  padding: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.client-wrapper .client-container .client-slider .client-slide {
  width: 100%;
  height: 100%;
  padding: 1rem;
  margin: 0 0.5rem;
  border-radius: var(--border-curved);
  background-color: var(--box-bgcolor);
}
.client-wrapper .client-container .client-slider .client-slide img {
  width: 12rem;
  height: 100%;
  padding: 1rem 2rem;
  object-fit: cover;
}
