footer {
  position: relative;
  padding: 35px 45px 35px 45px !important;
  width: 100vw;
  height: auto;
  background-color: var(--bg-footer);
}
footer .form-container {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .form-container h2 {
  font-size: 2rem;
  font-weight: 800;
  margin: 2rem 0;
  color: var(--black-color);
}
footer .form-container input {
  width: 20rem;
  height: 3rem;
  color: var(--white-color);
  background-color: var(--input-bg-color);
  border: none;
  border-radius: var(--border-curved);
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
}
footer .form-container textarea {
  width: 20rem;
  height: 10rem;
  color: var(--white-color);
  background-color: var(--input-bg-color);
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
}
