.hero-wrapper {
  width: 100vw;
  height: 100vh;
  background: url("/assets/servers.jpg");
  background-size: cover;
  background-position: center;
  object-fit: cover;
  z-index: -1;
}
.hero-wrapper .hero {
  width: 100%;
  height: 50%;
}
.hero-wrapper .hero h1 {
  padding: 2.5rem;
  color: var(--white-color);
  font-size: 8rem;
  font-weight: 800;
  margin: 12rem 0;
  animation: slideInLeft 1s ease-in-out;
  animation-delay: 0.5s;
  animation-duration: 2s;
  z-index: 2;
}
.hero-wrapper .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  z-index: 1;
  animation: slideInRight 1s ease-in-out;
  animation-delay: 0.5s;
  animation-duration: 2s;
}
.hero-wrapper .container .card {
  position: relative;
  width: 41rem;
  height: 19.6rem;
  margin: 1rem 5.5rem;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: hsla(169deg, 20%, 37%, 0.15);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}
.hero-wrapper .container .card .content {
  padding: 2rem;
  text-align: center;
  transition: 0.5s;
}
.hero-wrapper .container .card .content h2 {
  position: absolute;
  top: 12px;
  right: 30px;
  font-size: 12rem;
  color: var(--h1-color);
  letter-spacing: 1.5rem;
  pointer-events: none;
}
.hero-wrapper .container .card .content h3 {
  font-size: 3rem;
  color: var(--white-color);
  margin-bottom: 1.5rem;
  text-align: left;
  z-index: 1;
}
.hero-wrapper .container .card .content p {
  font-size: 1.2rem;
  color: var(--white-color);
  font-weight: 300;
  line-height: 1.2;
  text-align: left;
  letter-spacing: 0.25rem;
}
.hero-wrapper .container .card .content a {
  position: relative;
  display: inline-block;
  padding: 1.5rem 2rem;
  margin-top: 1.5rem;
  background: var(--white-color);
  color: var(--black-color);
  font-weight: 500;
  cursor: pointer;
  border-radius: 0.25rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
