.left-wrapper {
  width: 50vw;
  height: 70vh;
  background-color: var(--bg-2);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 0 1.2rem;
}
.left-wrapper .left-panel h1 {
  font-size: 4rem;
  font-weight: 800;
  margin: 2rem 0;
}
.left-wrapper .left-panel h2 {
  font-size: 2rem;
  font-weight: 800;
  margin: 2rem 0;
  color: var(--dark-text);
}
.left-wrapper .left-panel h2 span {
  color: var(--white-color);
}
.left-wrapper .left-panel .p-wrapper {
  width: 50%;
}
.left-wrapper .left-panel .p-wrapper p {
  font-size: 1.25rem;
  line-height: 1.2;
  text-align: left;
  color: var(--black-color);
}
.left-wrapper .left-panel .btn {
  background-color: var(--button-bg);
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  color: var(--black-color);
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.2;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}
