.team-wrapper {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #f5f5f5;
}
.team-wrapper h1 {
  font-size: 10rem;
  color: var(--h1-color);
  font-weight: 800;
  text-align: center;
  margin: 5rem 1rem;
}
.team-wrapper .profile-wrapper {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  background-color: var(--bg-color);
}
.team-wrapper .profile-wrapper .profile-card {
  position: relative;
  font-family: var(--font-roboto-monospace);
  width: 220px;
  height: 220px;
  background-color: #fff;
  padding: 30px;
  border-radius: 50%;
  box-shadow: 0 0 22px rgba(51, 51, 51, 0.4);
  transition: 0.6s;
  margin: 0 25px;
}
.team-wrapper .profile-wrapper .profile-card:hover {
  border-radius: 10px;
  height: 260px;
}
.team-wrapper .profile-wrapper .profile-card .img {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.6s;
  z-index: 99;
}
.team-wrapper .profile-wrapper .profile-card .img:hover {
  transform: translateY(-60px);
}
.team-wrapper .profile-wrapper .profile-card .img img {
  width: 100%;
  border-radius: 50% 50%;
  box-shadow: 0 0 22px rgba(51, 51, 51, 0.4);
  transition: 0.6s;
}
.team-wrapper .profile-wrapper .profile-card .img img:hover {
  border-radius: 10px;
}
.team-wrapper .profile-wrapper .profile-card .caption {
  text-align: center;
  transform: translateY(-80px);
  opacity: 0;
  transition: 0.6s;
}
.team-wrapper .profile-wrapper .profile-card .caption:hover {
  opacity: 1;
}
.team-wrapper .profile-wrapper .profile-card .caption h3 {
  font-size: 21px;
  font-family: var(--font-roboto-serif);
}
.team-wrapper .profile-wrapper .profile-card .caption p {
  font-size: 15px;
  color: var(--h1-color);
  font-family: var(--font-roboto-serif);
  margin: 2px 0 9px 0;
}
