.testimonials-wrapper {
  width: 100%;
  height: 90vh;
  background-color: var(--gray-color);
  position: relative;
}
.testimonials-wrapper h1 {
  font-size: 10rem;
  color: var(--h1-color);
  font-weight: 800;
  text-align: center;
  margin: 5rem 15rem;
}
.testimonials-wrapper .container {
  width: 50%;
  height: 25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
  transform-style: preserve-3d;
}
.testimonials-wrapper .container .indicator {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}
.testimonials-wrapper .container .indicator .btn {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 4px;
  border-radius: 15px;
  background-color: #fff;
  transition: 0.5s;
  cursor: pointer;
}
.testimonials-wrapper .container .indicator .active {
  width: 45px;
}
.testimonials-wrapper .container .testimonial {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.testimonials-wrapper .container .testimonial .slide-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  width: 250vw;
  transition: 0.5s;
}
.testimonials-wrapper .container .testimonial .slide-row .slide-col {
  width: 100%;
  height: 25rem;
  position: relative;
}
.testimonials-wrapper .container .testimonial .slide-row .slide-col .user-text {
  width: 31rem;
  height: 16rem;
  margin-left: 40px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: 1rem;
  color: #d3d4d6;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background-color: var(--glass-box-bgcolor);
  border-top: var(--glass-border-color);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.5rem;
  box-sizing: border-box;
  z-index: 2;
}
.testimonials-wrapper .container .testimonial .slide-row .slide-col .user-text p {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1;
  text-align: left;
}
.testimonials-wrapper .container .testimonial .slide-row .slide-col .user-text h3 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
  margin: 1rem 0 0.2rem;
  text-align: left;
}
.testimonials-wrapper .container .testimonial .slide-row .slide-col .user-img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 1.5rem;
}
.testimonials-wrapper .container .testimonial .slide-row .slide-col .user-img img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}
