@import url("http://fonts.cdnfonts.com/css/ubicada");
@import url("../node_modules/font-awesome/scss/font-awesome");
:root {
  --font-family-sans-serif: "Open Sans", sans-serif;
  --font-roboto-serif: "Roboto Slab", serif;
  --font-roboto-monospace: "Roboto Mono", monospace;
  --font-varela: "Varela Round", sans-serif;
  --font-aqua: "Aqua Grotesque", serif;
  --font-ubicada: "Ubicada", sans-serif;
}
