.left-wrapper {
  width: 50vw;
  height: 100vh;
  background-color: var(--bg-color2);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  z-index: 1;
  border: 1px solid var(--border-test1);
}
.left-wrapper .left-panel {
  padding: 0 2.5rem;
  width: 100%;
  height: 100%;
}
.left-wrapper .left-panel h1 {
  font-size: 4rem;
  font-weight: 800;
  margin: 2rem 0;
}
.left-wrapper .left-panel h2 {
  font-size: 2rem;
  font-weight: 800;
  margin: 2rem 0;
  color: var(--blue-text);
}
.left-wrapper .left-panel h2 span {
  color: var(--white-color);
}
.left-wrapper .left-panel .btn {
  margin-bottom: 1rem;
  transform: translateX(20rem);
}
.left-wrapper .left-panel .p-wrapper {
  width: 50%;
}
.left-wrapper .left-panel .p-wrapper p {
  font-size: 1.25rem;
  line-height: 1.2;
  text-align: left;
  color: var(--white-color);
}