.client-wrapper {
    width: 100%;
    // height: 90vh;
    .client-container {
        width: 100%;
        height: 100%;
        align-items: center;
        .client-slider {
            padding: 3rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            overflow: hidden;
            .client-slide {
                width: 100%;
                height: 100%;
                padding: 1rem;
                margin: 0 0.5rem;
                // border: 1px solid var(--border-test1);
                // box-shadow: var(--box-shadow);
                border-radius: var(--border-curved);
                //border-top: var(--border-color);
                // border-left: var(--border-color);
                background-color: var(--box-bgcolor);
                img {
                    width: 12rem;
                    height: 100%;
                    padding: 1rem 2rem;
                    object-fit: cover;
                }
            }
        }
    }
}