.right-panel {
    width: 50vw;
    height: 70vh;
    background: var(--gray-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
    box-sizing: border-box;
    .container {
        position: relative;
        width: 50%;
        height: 50%;
        // border: 1px solid var(--border-test1);
        img {
            display: block;
            width: 100%;
            height: 100%;
            filter: grayscale(0);
            transition: filter 0.5ms;
            cursor: pointer;
            &:hover {
                filter: grayscale(100%);
                //color: var(--button-bg);
                //transform: scale(1.3); //rotateY(-15deg)//;
                // border-radius: 20px;
                // box-shadow: o 32px 75px #444d8833;
                // transform: translate(-50%, -50%);
                // z-index: 1;
            }
        }
        .text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            text-align: center;
            color: var(--button-bg);
            font-size: 2rem;
            font-weight: 800;
            line-height: 1.2;
            text-transform: uppercase;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
        }
    }
}

// }